<h1>Badges:</h1>

<%= link_to 'Create New Badge', new_admin_badge_path, class: 'btn' %>

<table class="table">
  <thead>
  <tr>
    <th class="sort-by-title pointer">
      Title
      <%= octicon 'arrow-up', class: 'text-success hide' %>
      <%= octicon 'arrow-down', class: 'text-success hide' %>
    </th>
    <th>Rule</th>
    <th>Rule Params</th>
    <th>Image</th>
    <th colspan="3">Actions</th>
  </tr>
  </thead>

  <tbody>
  <%= render @badges %>
  </tbody>
</table>
