<div class="navbar navbar-dark">
  <span class="nav-admin title">Test Guru Admin Panel</span>

  <div class="nav-admin user">
    <%= link_to 'Tests', admin_tests_path, class: 'btn' %>
    <%= link_to 'All Badges', admin_badges_path, class: 'btn' %>
    Welcome, <%= current_user.email %> Guru
    <%= button_to 'Log out', destroy_user_session_path, method: :delete%></b>
  </div>

</div>
