<footer>
  <p>
    This project created at <%= current_year %> by Dmitry Stepanov.
    Project files are <%= github_url('here', 'WhatTheAncient', 'TestGuru') %>
    Here you can create, edit and take the tests.
    This is
    <a href="https://thinknetica.com" target="_blank" rel="nofollow" rel="noopener">
      educational project at the Thinknetica online school
    </a>.
  </p>
</footer>