<h1 class="result" style="color: <%= @result.passed? ? "green" : "red"%>">
  <% if @result.passed %>
  You successfully passed test! Your score: <%= @result.score %> %
  <% else %>
  You don't pass the test! Your score: <%= @result.score %> %
  <% end %>
</h1>

<%= button_to 'Tests', tests_path, method: :get %>
